.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

  .App-logo-f1 {
    width: 30%;
    height: 30%;
    padding-top: 10px;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** MAIN LOGO **/

.header-lg {
  font-size: 35px;
  font-weight: 200;
  margin: 10px;
  font-style: italic;
}

.formula1-font {
  font-family: 'Formula1-normal';
}

.formula1-font-bold {
  font-family: 'Formula1-bold';
}

/** TRACK SELECTOR **/

.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.container-sm {
  width: 800px;
  margin: 0 auto;
}

.current-track {
  font-size: 20px;
  font-weight: 300;
  width: 380px;
}

.arrow-icon {
  align-self: center;
}

.grid-container i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

/* RESULTS TABLE */
.table {
  min-width: 400;
}

.dark-btn {
  color: #e6e6e6;
  background: #141414;
}

.round-btn {
  border-radius: 3px;
  font-size: 15px;
  padding: 3px;
}

/* ADD TIME */

.field{
  margin-left:10px;
  display:inline-block;
}

.pad-btn {
  padding: 8px;
}

.player-inputs input {
  padding: 8px;
  font-size: 16px;
  flex: 2;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.player-inputs .input-light {
  background: rgba(0, 0, 0, 0.02);
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.player {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
}