body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Formula1-normal';
  src: local('Formula1'), url(./fonts/Formula1-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Formula1-bold';
  src: local('Formula1'), url(./fonts/Formula1-Bold.ttf) format('truetype');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: transparent;
  border: none !important;
}